#--------------------------------------------------------------------
# Example Environment Configuration file for CodeIgniter 4
#
# Copy this file to '.env' and customize it for your environment.
#--------------------------------------------------------------------

#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------

CI_ENVIRONMENT = development

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------

app_baseURL = 'http://localhost:8080/'
# app.forceGlobalSecureRequests = false
# app.CSPEnabled = false

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

database.default.hostname = localhost
database.default.database = tugas_pemrograman_web
database.default.username = root
database.default.password = 
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

#--------------------------------------------------------------------
# CLOUDFLARE TUNNEL (Optional for Deployment)
#--------------------------------------------------------------------
CLOUDFLARE_TUNNEL_TOKEN = 
