# Database Configuration
database.default.hostname = localhost
database.default.database = nama_database_disini
database.default.username = root
database.default.password = 
database.default.DBDriver = MySQLi

# App Configuration
app.baseURL = 'http://localhost:8080'