@import "tailwindcss";

@source "../app/Views";

@theme {
  --font-sans: 'Poppins', sans-serif;
  --color-brand-50: #ecfdf5;
  --color-brand-100: #d1fae5;
  --color-brand-500: #10b981;
  --color-brand-600: #059669;
  --color-brand-900: #064e3b;
}
